snippet ne "Begin a new journal entry" b
# `!v strftime("%Y-%m-%d")`

* $0
endsnippet

snippet c "Insert a code block" b
\`\`\`
$0
\`\`\`
endsnippet

snippet lnk "Insert a link"
[Title](http$0)
endsnippet
